body {
  background: linear-gradient(
    to right,
    rgb(182, 86, 238),
    rgb(164, 95, 243),
    rgb(237, 125, 252)
  );
  font-family: poppins;
  font-weight: 600;
}
.box {
  height: 95vh;
}
.sub-box {
  background-color: white;
  width: 560px;
  height: fit-content;
}
.add-box {
  background-color: rgb(233, 233, 233);
}
.add .inputfeild {
  width: 400px;
  height: 50px;
  background-color: rgb(233, 233, 233);
}
input[Type="text"] {
  padding-left: 20px;
}
input:focus {
  outline: none;
}
.buton {
  width: 113px;
  background-color: rgb(255, 0, 76);
  color: white;
  &:active {
    background-color: rgb(233, 233, 233);
    color: rgb(255, 0, 76);
  }
}
ul li {
  list-style: none;
  position: relative;
  line-height: 40px;
  user-select: none;
}
ul li.list {
  text-decoration: line-through;
}
ul li.list::before {
  background-image: url(/image/checked1_77964.svg);
  border: 0px;
}
ul li::before {
  content: "";
  height: 20px;
  position: absolute;
  top: 9px;
  width: 20px;
  background-image: url(/image/background.jpg);
  background-size: cover;
  background-position: center;
  left: -25px;
  border-radius: 100%;
  border: 1px solid black;
}
ul li span {
  position: absolute;
  right: 0px;
  top: 5px;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  text-align: center;
  line-height: 40px;
  &:hover {
    background-color: rgb(233, 233, 233);
  }
}
@media only screen and (max-width: 570px) {
  .sub-box {
    width: 400px;
  }
  .add .inputfeild {
    width: 250px;
  }
}
@media only screen and (max-width: 410px) {
  .sub-box {
    width: 300px;
  }
  .add .inputfeild {
    width: 150px;
    height: 40px;
  }
}
@media only screen and (max-width: 306px) {
  .sub-box {
    width: 200px;
  }
  .add .inputfeild {
    width: 120px;
    height: 40px;
  }
}
